NODE_ENV=development
PORT=3000

# DB_HOST=localhost
# DB_PORT=5432
# DB_USERNAME=postgres
# DB_PASSWORD=postgres
# DB_NAME=concert_ticket_platform
DATABASE_URL=postgresql://postgres:crZgBMzpyolwxDdnibTpZaAAjqFAYhmg@postgres.railway.internal:5432/railway
REDIS_URL=REDIS_URL="rediss://default:gQAAAAAAAdOGAAIgcDE1NmZjNDA2Y2M1MTQ0YjM4OGU3ZDNkOTdmZDMwODI2OA@vital-tick-119686.upstash.io:6379"
TYPEORM_LOGGING=false

# Optional self-hosted Sentry DSN
SENTRY_DSN=
