NODE_ENV=development
PORT=3000

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=concert_ticket_platform
# DATABASE_URL=postgresql://neondb_owner:npg_VgOBhWt2J4KS@ep-shy-bird-aqpsy0o1.c-8.us-east-1.aws.neon.tech/neondb?sslmode=require

REDIS_URL=redis://localhost:6379
TYPEORM_LOGGING=false

# Optional self-hosted Sentry DSN
SENTRY_DSN=
